---
layout: layouts/base.njk
---

<div class="container  border  border-primary border-opacity-50 py-5">

  <div class="card shadow-sm bg-dark text-white">
  {% if image %}
      <img src="{{ image }}" class="card-img-top" alt="{{ title }}">
    {% endif %}
      <div class="card-body display-4">
      <h1 class="card-title gradient-text">{{ title }}</h1>
      <p class="mb-3">
        <time datetime="{{ date | date('yyyy-LL-dd') }}">
          {{ date | date("LLLL dd, yyyy") }}
        </time>
      </p>

      <div class="fs-4 card-text">
        {{ content | safe }}
      </div>

      <hr>
      <a href="/blog/" class="btn btn-secondary mt-3">← Back to Blog</a>
    </div>
  </div>
</div>
