---
layout: layouts/base.njk
---

<div class="container py-5">

  <div class="card shadow-sm">
  {% if image %}
      <img src="{{ image }}" class="card-img-top" alt="{{ title }}">
    {% endif %}
      <div class="card-body">
      <h1 class="card-title">{{ title }}</h1>
      <p class="text-muted mb-3">
        <time datetime="{{ date | date('yyyy-LL-dd') }}">
          {{ date | date("LLLL dd, yyyy") }}
        </time>
      </p>

      <div class="card-text">
        {{ content | safe }}
      </div>

      <hr>
      <a href="/blog/" class="btn btn-secondary mt-3">← Back to Blog</a>
    </div>
  </div>
</div>
