---
layout: layouts/base.njk
title: Contact
permalink: /contact/
---

<h1 class="mb-4">Contact Me</h1>

<div class="row">
  <div class="col-md-6">
    <form class="mb-4" name="contact" method="POST" data-netlify="true">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" name="name" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea id="message" name="message" rows="6" class="form-control" required></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>

  <div class="col-md-6">
    <h2 class="h5 mb-3">Find Me Here</h2>
    <div class="ratio ratio-4x3">
     <iframe
  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d127640.56135571434!2d103.886086!3d1.315001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da183c9aaad4ff%3A0x27db804549f08085!2zU2luZyBNYW4gVGVtcGxlIOWjsOmXu-emhemZog!5e0!3m2!1sen!2sus!4v1758871761194!5m2!1sen!2sus" 
    width="100%"
    height="100%"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
    </div>
  </div>
</div>


 




