---
layout: layouts/base.njk
title: Home
---

<div class="container py-5">
  <h1 class="mb-4">心之园 — 更生活化，强调心的宁静与栽培</h1>
  <p>This is a simple Zen Series Blog pages from Practice record 同参道友</p>
   <marquee behavior="scroll" direction="left"><h1>五祖弘忍禪師：不識本心 學法無益</h1></marquee>
 {% include "Home_blog.njk" %}
<hr>
 
</div>
