---
layout: layouts/base.njk
title: 心之园
---

<div class="container py-5">
<span class="d-block p-2 text-bg--dark"></span>
  <h1 class="mb2">心之园 — 更生活化，强调心的宁静与栽培</h1>
  <p>同参道友 This is a simple Zen Series Blog pages from Practice record </p>
   {# <marquee behavior="scroll" direction="left"><h1>五祖弘忍禪師：不識本心 學法無益</h1></marquee> #}
  <marquee behavior="scroll" direction="left">
  <h3>禅宗 语录   
  {% randomQuote %}</h3>
  </marquee>
</div>
<hr>

 {% include "Home_blog.njk" %}
<hr>
 
</div>
