---
layout: layouts/base.njk
title: Home
---

<div class="container py-5">
  <h1 class="mb-4">Welcome to My Site</h1>
  <p>This is a simple Eleventy demo that generates pages from data.</p>
 
 
 {% include "Home_projects.njk" %}


  <p class="mt-3"><a href="/projects/">View all projects →</a></p>

  <hr>
 {% include "Home_testimonials.njk" %}
</div>
